<div class="main">
    <div class="hh">   
        <h1>Мы поможем сделать ваш бизнес лучше</h1>
    </div>
    <div>
        <p id="alespo">ALESPO - комания, занимающаяся решениями
            для вашего бизнеса. Мы реашем проблемы,
            связанные с вашими проектами, избавляя
            вас от необходимости заниматься ненужной
            работой</p>
    </div>
    <div class="description">
        <p>Упростите себе жизнь. <a href="/alespo/services">Закажите наши услуги прямо сейчас</a></p>
    </div>
</div>