<div class="main">
  <ul class="nav"> 
    <li>
      <a routerLink=""><img src="https://raw.githubusercontent.com/Fanotik/pngs/main/PNG_LOGO.png"  alt=""></a>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <a routerLink="/services">Услуги</a>
    </li>
    <li routerLinkActive="active" >
      <a routerLink="/about">О компании</a
        ></li>
    <li routerLinkActive="active" >
      <a routerLink="/contacts">Контакты</a>
    </li>
  </ul> 
  <router-outlet> </router-outlet>
</div>

