<div class="main">
    <div id="head">
        <h1>Каталог услуг</h1>
    </div>
    <div class="block">
        <h2>ALESPO.Контроль</h2>
        <p>
            Если вашему бизнесу грозит распад, ALESPO
            готов принять риски
            и создать такое мнение
            о вас, что другим и не снилсь
        </p>
        <button>ЗАКАЗАТЬ</button>
    </div>
    <div class="block">
        <h2>ALESPO.Подпись</h2>
        <p>
            ALESPO готово взять
            на себя ответственность
            по переводу вашего бизнеса
            на удаленное управление
        </p>
        <button>ЗАКАЗАТЬ</button>
    </div>
    <div class="block">
        <h2>ALESPO.Маркировка</h2>
        <p>
            ALESPO предоставляет
            сертифицированные сервисы
            для работы с маркировкой
        </p>
        <button>ЗАКАЗАТЬ</button>
    </div>
</div>
